{% extends 'base.html' %}
{% block title %}Новое объявление{% endblock %}
{% block style %}
<style>
      body, div, form, input, select { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #666;
      line-height: 22px;
      }

      form {
      width: 100%;
      padding: 20px;
      background: #fff;
      box-shadow: 0 2px 5px #ccc; 
      }
      input {
      width: calc(100% - 10px);
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
      vertical-align: middle;
      }
      input:hover, textarea:hover, select:hover {
      outline: none;
      border: 1px solid #095484;
      background: #e6eef7;
      }
      .title-block select, .title-block input {
      margin-bottom: 10px;
      }
      select {
      padding: 7px 0;
      border-radius: 3px;
      border: 1px solid #ccc;
      background: transparent;
      }
      select, table {
      width: 100%;
      }

      select, input {
      	margin-bottom: 10px;
      }
      option {
      background: #f8f8ff;
      border-radius: 8px;
      }

      textarea {
      width: calc(100% - 6px);
      }

    </style>
{% endblock %}


{% block content %}
<div class="main-div-form">
	<form action="{% url 'ads:update_ad' ad_id %}" method="POST">
		{% csrf_token %}
		<div class="form-error">{{ text }}</div>
			{% for field in form %}
				<div>
					{{ field.label}}<br>
					{{ field }}
				</div>
			{% endfor %}
		<button class="backbutton" type="submit">Сохранить</button>

	</form>
</div>

{% endblock %}